$thumb-color: theme('colors.primaryLight');
$thumb-size: 2px;
$scroll-background: theme('colors.cardBg');

.dropdownRoot {
  &::-webkit-scrollbar {
    background-color: $scroll-background;
  }

  * {
    &::-webkit-scrollbar {
      background-color: $scroll-background;
    }
    scrollbar-color: $thumb-color $scroll-background;
  }
}
